@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-black: #011627;
  --light-black: #334452;
  --highlight: #e71d36;
  --super-black: #151b25;
  --highlight-contrast: #06233b;
  --white-color: white;
  --text-color: #505050;
}

.separateline {
  display: inline-block;
  width: 50px;
  border-top: 2px solid var(--highlight);
  margin-top: 5px;
}

.top-bar-wrapper {
  text-align: center;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.top-bar {
  position: fixed;
  font-size: 17px;
  font-weight: 400;
  padding: 0.33em 0.5em;
  background: var(--highlight);
  /* box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15); */
  color: white;

  width: 100vw;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.container {
  display: flex;
  margin-top: 30px;
}

body {
  font-family: "Roboto", sans-serif;
}

.navigator {
  background: var(--dark-black);
  flex: 1;
  color: var(--white-color);
}

.open-slide,
.popmenu {
  display: none;
}

.profile-title {
  font-weight: 700;
  font-size: 35px;
  padding: 10px;
  margin: 20px;
  display: flex;
}

.profile-title-dot {
  color: var(--highlight);
  font-weight: 700;
  font-size: 35px;
}

.menu-links {
  padding: 10px;
  margin: 20px;
  list-style: none;
  font-weight: 400;
}

.eachitem {
  margin: 10px;
}

.eachitem a {
  text-decoration: none;
}

.eachitem a:link,
.eachitem a:visited,
.eachitem a:hover,
.eachitem a:active {
  color: var(--white-color);
}

.sociallinks {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);

  position: absolute;
  bottom: 10vh;
  left: 20px;
}

.sociallinks a {
  color: var(--white-color);
  max-height: 25px;
  max-width: 25px;
}

.details {
  flex: 4;
  /*overflow: auto;*/
  padding: 25px;

  background: var(--light-black);
}

.profile {
  padding: 1px;
}

.profile-content {
  display: flex;
  background: var(--white-color);
  padding: 25px;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greet {
  color: var(--highlight);
  font-weight: 400;
  font-size: 25px;
}

.profilepic {
  flex: 1;
  max-height: 80vh;
  overflow: hidden;
}

.myname {
  color: var(--super-black);
  font-size: 60px;
  font-weight: 700;
  line-height: 61px;
}

.mydesc {
  font-weight: 400px;
  color: var(--text-color);
  margin-top: 25px;
  font-size: 20px;
}

.resume-bar {
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.resume {
  background: var(--highlight);
  flex: 1;
  min-height: 8vh;
  padding: 5px;
  color: var(--white-color);
  text-transform: uppercase;
}
.linkedin {
  background: var(--highlight-contrast);
  color: var(--white-color);
  text-transform: uppercase;
  flex: 1;
  min-height: 8vh;
  padding: 5px;
}

.about {
  display: flex;
}

.about-content {
  background: var(--white-color);
  padding: 25px;
  flex: 1;
}
.htitle {
  color: var(--super-black);
  font-size: 60px;
  font-weight: 700;
  line-height: 61px;
  margin-top: 5px;
}
.hdesc {
  color: var(--text-color);
  font-weight: 400;
}

.hdesc > h3 {
  font-weight: 400;
  margin-top: 10px;
}

.hdesc > p {
  margin-top: 15px;
  font-weight: 400;
}

.work {
  display: flex;
}

.work-content {
  background: var(--white-color);
  padding: 25px;
  flex: 1;
}

.project-list {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin-top: 25px;
  grid-auto-rows: 1fr;
}

.project {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 5px var(--light-black);
  padding: 1rem;
}

.project:hover {
  background: var(--highlight);
  color: var(--white-color);
}

.project h2 {
  color: var(--text-color);
}

.project a {
  text-decoration: none;
}

.project i {
  color: var(--text-color);
  align-self: end;
}

.contactme {
  display: flex;
}

.contactme-content {
  background: var(--white-color);
  padding: 25px;
  flex: 1;
}

.form-content {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

.form-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 5px;
}

.form-label {
  flex: 1;
}

.form-box {
  flex: 5;
}

.form-row-message {
  margin-top: 5px;
  display: flex;
}

input[type="text"],
input[type="email"],
textarea {
  min-height: 30px;
  font-size: 20px;
}

.contactme-content button {
  background: var(--highlight);
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin: 30px 0px 0px 30px;
}

@media (max-width: 767px) {
  .top-bar {
    display: block;
  }

  .container {
    flex-direction: column;
  }

  .navigator {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

  .menu-links {
    display: none;
  }

  .popmenu {
    flex: 2.5;
    background: var(--dark-black);
    color: var(--white-color);
    font-size: 20px;
  }

  .btn-close {
    margin-left: 20px;
    font-weight: 400;
    font-size: 30px;
    color: var(--white-color);
  }

  .open-slide {
    display: block;
    flex: 1;
  }
  .open-slide svg {
    fill: var(--white-color);
  }

  .sociallinks {
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
    position: static;
    gap: 5px;
  }

  .profile-title {
    flex: 2;
  }

  .container {
    display: flex;
    max-width: 100vw;
    margin-top: 50px;
  }

  .details {
    position: static;
  }

  .profile-content {
    flex-direction: column;
  }

  .greet {
    font-size: 30px;
  }
  .myname {
    font-size: 40px;
  }

  .profilepic {
    max-width: 80vw;
    max-height: 80vw;
  }

  .resume-bar {
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: stretch;
  }

  .about {
    flex-direction: column;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .contactme {
    flex-direction: column;
  }

  .htitle {
    font-size: 30px;
  }
  .form-label {
    display: none;
    margin-top: 5px;
  }

  .contactme-content button {
    width: 50vw;
    height: 50px;
    font-size: 16px;
  }
}
