@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-black: #011627;
  --light-black: #334452;
  --highlight: #e71d36;
  --super-black: #151b25;
  --highlight-contrast: #06233b;
  --white-color: white;
  --text-color: #505050;
}

.separateline{
    display: inline-block;
    width: 50px;
    border-top: 2px solid var(--highlight);
    margin-top: 5px;
}

.top-bar-wrapper {
    text-align: center;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.top-bar {
    position: fixed;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    background: var(--highlight);
    /* box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15); */
    color: white;
    
    width: 100vw;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.container {
  display: flex;
  margin-top: 30px;
}



body {
  font-family: "Roboto", sans-serif;
}

.navigator {
  background:var(--dark-black);
  flex: 1;
  color: var(--white-color);
}

.profile-title {
    font-weight: 700;
    font-size: 35px;
    padding: 10px;
    margin: 20px;
    display: flex;
}

.profile-title-dot {
    color: var(--highlight);
    font-weight: 700;
    font-size: 35px;
}


.menu-links{
    padding: 10px;
    margin: 20px;
    list-style: none;
    font-weight: 400;
    
}

.eachitem{
    margin: 10px;
}

.eachitem a {
    text-decoration: none;
}

.eachitem a:link,
.eachitem a:visited,
.eachitem a:hover,
.eachitem a:active {
    color: var(--white-color);
}


.sociallinks {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);

    position: absolute;
    bottom: 10vh;
    left: 20px;
  }
  
  .sociallinks a {
    color: var(--white-color);
    max-height: 25px;
    max-width: 25px;
  }

.details {
  flex: 4;
  /*overflow: auto;*/
  padding: 25px;

  background: var(--light-black);
}

.profile {
  padding: 1px;
}

.profile-content {
  display: flex;
  background: var(--white-color);
  padding: 25px;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greet {
  color: var(--highlight);
  font-weight: 400;
  font-size: 25px;
}

.profilepic {
  flex: 1;
  max-height: 80vh;
  overflow: hidden;
}

.myname {
  color: var(--super-black);
  font-size: 60px;
  font-weight: 700;
  line-height: 61px;
}

.mydesc {
    font-weight: 400px;
    color: var(--text-color);
    margin-top: 25px;
    font-size: 20px;
}

.resume-bar {
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.resume {
  background: var(--highlight);
  flex: 1;
  min-height: 8vh;
  padding: 5px;
  color: var(--white-color);
  text-transform: uppercase;
}
.linkedin {
  background: var(--highlight-contrast);
  color: var(--white-color);
  text-transform: uppercase;
  flex: 1;
  min-height: 8vh;
  padding: 5px;
}

.about {
  display: flex;
}

.about-content {
  background: var(--white-color);
  padding: 25px;
  flex: 1;
}
.htitle {
  color: var(--super-black);
  font-size: 60px;
  font-weight: 700;
  line-height: 61px;
}
.hdesc {
  color: var(--text-color);
  font-weight: 400;
}

.hdesc > h3 {
    font-weight: 400;
    margin-top: 10px;
}

.hdesc>p{
    margin-top: 10px;
    font-weight: 400;
}