@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --main-bg-color: #222629;
  --title-font: #61892f;
  --highlight: #86c232;
  --subtext: #474b4f;
  --subtext-light: #6b6e70;
  --white-color: white;
}
body {
  background: var(--main-bg-color);
  color: var(--subtext-light);
  font-family: "Poppins", sans-serif;
}

.top-summary {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px 8px var(--subtext);
}

.photo-summary {
  flex: 1;
}

.main-summary {
  flex: 2;
  border-right: 1px solid var(--normal-font);
}

.main-summary h1 {
  color: var(--white-color);
  font-size: 2rem;
}

.main-summary .button-cta {
  border: 2px solid var(--highlight);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--red-light);
  margin-top: 1rem;
}

.main-summary .button-cta:hover {
  background: var(--highlight);
  color: var(--white-color);
}

.details-summary {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 1.5rem;
}

.details-summary .detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.details-summary .detail-item h3 {
  color: var(--title-font);
}

.details-summary .detail-item p {
  padding-left: 10px;
}

.sociallinks {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.sociallinks a {
  color: var(--red-light);
}

.about {
  margin: 4rem 2rem 2rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 3px 3px 8px 8px var(--subtext);*/
  flex-direction: column;
}

.about h2 {
  color: var(--title-font);
}

.projects {
  margin: 4rem 2rem 2rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.projects h2 {
  color: var(--title-font);
}

.project-list {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.project {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 8px 8px var(--subtext);
  padding: 1rem;
}

.project:hover {
  background: var(--highlight);
  color: var(--white-color);
}

.project a {
  text-decoration: none;
}

.project i {
  color: var(--title-font);
  align-self: end;
}

footer {
  padding: 2.2rem;
  color: var(--subtext-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

@media (max-width: 850px) {
  .top-summary {
    flex-direction: column;
  }

  .details-summary {
    margin-top: 1rem;

    justify-content: center;
    padding-left: 0px;
  }

  .sociallinks {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-list {
    grid-template-columns: 1fr;
  }
}

/*
body {
  background: dodgerblue;
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("laptop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  height: 180px;
  width: 180px;
}

.projects a {
  color: white;
  text-decoration: none;
}

.content .title {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.sociallinks {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.sociallinks a {
  color: dodgerblue;
}

.center {
  text-align: center;
  margin: auto;
}

.bg-lite {
  background: #f4f4f4;
  color: dodgerblue;
}

.bg-dark {
  background: dodgerblue;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}
footer p {
  margin: 0;
}


/* Small screen sizes* /
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 125px;
    height: 125px;
  }

  .content .title,
  .content .text  {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .projects div {
    border-bottom: 333 dashed 1 px;
    padding: 1.2rem 1rem;
  }
  .sociallinks a{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(max-height: 500px) {
  
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }

}
*/
